version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "21:00"
      timezone: "Europe/Helsinki"
    target-branch: "main"
  - package-ecosystem: "npm"
    directory: "/"
    versioning-strategy: "increase"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "21:00"
      timezone: "Europe/Helsinki"
    target-branch: "main"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "pip"
    directory: "/data"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "21:00"
      timezone: "Europe/Helsinki"
