:root {
  --background-color: rgb(216, 213, 213);
}

.dropdown-container {
  position: relative;
  width: 200px;
}

.dropdown-input {
  display: flex;
  align-items: center;
  position: relative;
}

input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: inherit;
  background-color: var(--background-color);
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  color: #888;
  pointer-events: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 4px;
  background: var(--background-color);
  max-height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: none;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu button {
  all: unset; 
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  background: var(--background-color);
  border: none;
  font-size: inherit;
}

.dropdown-menu button:hover,
.dropdown-menu button.active {
  background-color: #f0f0f0;
}

.dropdown-menu button:focus {
  outline: none;
}