.barchart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 400px;
  min-height: 300px;
  padding: 5px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}