.piechart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 350px;
  padding: 5px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}