html {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  background-color:rgb(223, 220, 220);
}

.data-date {
  display: block;
  font-size: 0.4em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 0.25em;
}

.chart-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  max-width: 1000px;
  grid-template-areas:
    "a c"
    "b d";
}

@media (max-width: 600px) {
  .chart-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
  }
}

.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
}